@font-face {
  font-family: roboto;
  src: url(./roboto/roboto-medium.woff);
}

:root {
  --nav-color: rgb(26,140,192);
  --bg-gray: #DDD;
  --box-radius: 8px;
  --light-text: #888;
  font-family: roboto, sans-serif;
}

body {
  display:grid;
  grid-template-columns:1fr 3fr 1fr;
  grid-template-rows:170px 2fr 2fr;
  background-color:var(--bg-gray);
}

header {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 85px 85px;
  padding: 0px 60px 0px 40px;
  background-color: white;
  box-shadow: 0px 5px 5px rgb(170, 170, 170);
}

main {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
  padding-left:20px;
  display:flex;
  flex-direction:column;
}

nav {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  background-color: var(--nav-color);
  color: white;
}

.announcements {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  padding-right:30px;
}

.trending {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  padding:30px 30px 60px 0px;
  align-self:end;
}

.greeting{
  display:grid;
  grid-template-rows: 35px 35px;
  grid-template-columns: 80px 1fr;
  align-items: center;
}

.greeting img{
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.greeting p:first-of-type{
  font-size:12px;
}

.greeting p:last-child{
  font-size:18px;
}

.header-buttons{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px;
  justify-items: center;
  align-items: center;
  gap:30px;
}

.header-buttons button {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border-radius:15px;
  border-style:none;
  background-color: var(--nav-color);
  color:white;
}

.user-info{
  display:flex;
  justify-content:end;
  gap:20px;
  margin-right:20px;
  align-items: center;
}

.greeting img,
.user-info img{
  border-radius: 50%;
  object-fit:cover;
}

header>form{
  display:flex;
  align-items:center;
  padding-right:30px;
  gap: 20px;
}

form>input{
  flex:1;
  border-radius:15px;
  border-style:none;
  background-color: var(--bg-gray);
  height:30px;
  box-sizing: border-box;
  padding:0px 16px;
}

nav>div{
  display:flex;
  align-items: center;
  padding:20px;
}

nav>div>svg{
  padding:3px;
}

nav>div>h1{
  padding-left: 10px;
}

nav ul{
  list-style-type:none;
  padding: 0px 10px;
  margin: 0px;
}

.nav-separator{
  height:51px;
}
nav a{
  text-decoration: none;
  font-size: 20px;
  font-weight:900;
}

nav a:visited{
  color:white;
}

nav svg path{
  fill:currentColor;
}

nav li>img,
nav li>svg{
  padding: 13px 20px;
}

nav li{
  display: flex;
  align-items: center;
}

nav h1{
  font-size: 28px;
}

main h2{
  font-size: 20px;
  font-weight: bold;
  padding: 30px 0px 15px;
}

.project-list{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  flex:1;
}

.project-container{
  background-color:white;
  padding:15px;
  border-left: rgb(255, 187, 0) 8px solid;
  border-radius: var(--box-radius);
  box-shadow: 5px 5px 5px rgb(170, 170, 170);
  display:flex;
  flex-direction: column;
  align-items:flex-start;
}

.project-container h3{
  margin:20px 0px 10px;
  font-size:18px;
  font-weight:bold;
}

.project-container p{
  font-size:14px;
  color:var(--light-text);
  overflow:hidden;
  text-overflow: ellipsis;
  max-height:80px;
}

.project-buttons{
  align-self:flex-end;
  margin-top:auto;
  padding:10px;
}

.project-buttons img{
  padding: 0px 12px;
}

.announcements>h2{
  padding:30px 0px 15px;
  font-size: 20px;
  font-weight: bold;
}

.announcements>div{
  background-color:white;
  border-radius: var(--box-radius);
  padding:30px;
  box-shadow: 5px 5px 5px rgb(170, 170, 170);
}

.announcement-item>h4{
  font-weight:bold;
  font-size:14px;
  padding-bottom: 5px;
  margin-top:20px;
  position:relative;
}

.announcement-item>p{
  font-size:12px;
  color:var(--light-text);
  overflow:hidden;
  height:60px;
  position:relative;
}

.announcement-item>p::before{
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent 10px, white);
}

.announcement-item>h4::before{
  content:"_______________________________";
  color: var(--bg-gray);
  position:absolute;
  left: -5px;
  top: -24px;
  width: 100%;
  text-align: center;
}

.announcement-item:first-child>h4::before{
  content:none;
}

.announcement-item:first-child>h4{
  margin-top: 0px;
}

.trends{
  background-color: white;
  border-radius: var(--box-radius);
  padding-top:8px;
  padding-bottom: 8px;
  box-shadow: 5px 5px 5px rgb(170, 170, 170);
}

.trend-item{
  display:grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: repeat(2,34px);
  align-items: center;
}

.trend-item img{
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  padding: 10px;
  justify-self: center;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  object-fit:cover;
}

.trend-item p:nth-child(2){
  font-size: 12px;
  font-weight: bold;
  align-self:end;
  margin-bottom: 3px;
}

.trend-item p:last-child{
  font-size:12px;
  align-self:start;
  margin-top:3px;
  color:var(--light-text);
}

.trending h2{
  font-size:18px;
  font-weight:bold;
  padding-bottom: 12px;
}